*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
}

header {
  text-align: center;
  background-color: #404041;
  padding: 20px;
}

h1 {
  color: #dd1972;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 60px;
}

h1 span {
  font-weight: 300;
}

h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  position:relative;
  display:inline;
}

h2:before,
h2:after {
  content:'';
  width:100px;
  height:2px;
  background-color:#fff;
  position:absolute;
  top:calc(50% - 1px);
}

h2:before {
  left:-110px;
}

h2:after {
  right:-110px;
}

main {
  display: flex;
  flex-flow: wrap;
}

.column1,
.column2 {
  width: 50%;
  padding: 20px;
}

.column1 {
  background-color: #f7f7f7;
  border-right: 2px solid #999;
}

.column2 {
  padding:20px 40px;
}

.column2,
.btn {
  background-color: #d0d2d3;
}

.card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #cecece;
}

.flex-parent {
  display: flex;
}

.card_range .flex-parent {
  justify-content: space-between;
}

.error {
  border: 2px solid #dd1972;
}

.alert {
  color: #dd1972;
}

.alert img {
  height: 10px;
  font-size: 13px;
  padding-right: 5px;
}

fieldset {
  border: 0;
}

fieldset input {
  width: 100%;
  height: 35px;
}
.card_range .flex-parent fieldset {
  width: 35%;
}

.card_range .btn {
  padding: 0 10px;
  height: 35px;
}

  .btn {
    border-radius: 30px;
    font-size: 23px;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 500;
  }

.card_range .btn {
  align-self: flex-end;
}

.card_guess .sub-title {
  margin-bottom: 20px;
  font-size: 20px;
}

.card_guess h3 {
  font-size: 20px;
}

.card_guess span {
  font-weight: 700;
  text-decoration: underline;
}

.name-field {
  width: 65%;
}

.guess-field {
  width: 32%;
}

.guess-buttons {
  justify-content: space-between;
}

.guesses {
  justify-content: space-between;
  padding: 5px 0 30px 0;
}

.guess-box {
  width: 50%;
  text-align: center;
}

.card_results .flex-parent .current-guess {
  height: 100px;
}

.card_results .flex-parent .guess-box:last-of-type {
  border-left: 2px solid #cecece;
}

.guess-box h4,
.guess-box .current {
  font-size: 20px;
}

.guess-box .guess-hint {
  font-size: 25px;
}

.game-card {
  width: 100%;
  border: 2px solid #999;
  text-align: center;
  background-color: white;
  padding: 10px 20px;
  margin-bottom:20px;
  text-transform: uppercase;
}

.game-header {
 border-bottom: 2px solid #cecece;
 padding-bottom: 10px;
}

.challenger-vs {
  padding: 0 20px;
}

.winner-name,
.challenger-vs {
  font-weight: 700;
  font-size: 20px;
}

.winner-name,
.winner-statement {
  font-size: 40px;
}

.winner-name {
  margin-top: 20px;
}

.winner-statement {
  margin-bottom: 20px;
}

.guess-number,
.minute,
.second {
  font-weight: 700;
}

.game-footer {
 display: flex;
 align-items:center;
 border-top: 2px solid #cecece;
 padding-top: 10px;
 font-size:20px;
}

.game-footer p {
  width: 20%;
  text-align: left;
}

.game-footer .time {
  width: 60%;
  text-align: center;
}

.game-footer .btn-wrap {
  width: 20%;
  text-align: right;
}

.game-footer .btn-wrap button {
  background-color: #595959;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 7px;
  color: #7d7d7d;
}

.game-footer .btn-wrap button img {
  width: 100%;
}

.enable {
  background-color: #404041;
}

.current-guess {
  color: #dd1972;
  font-size: 80px;
  font-weight: 800;
}
